/* CSS is a styling language used for presentation */
/* Not a programming language
Creativity focused */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Manrope&display=swap');

*{
    box-sizing: border-box;
    font-family: Manrope;
    color: rgb(31, 31, 31);
}

html, body{
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    padding: .7em;
    color: rgb(202, 202, 181);
    text-decoration: none;
}

.nav a:hover{
    background-color: rgb(21, 150, 155);
}

.main-nav{
    text-align: center;
    font-size: larger;
    border-bottom: 1px solid rgb(202, 202, 181);
   
}

.main-nav li{
    padding: 0 5%;
}

.main-header {
    background-color: rgba(0, 0, 0, 0.418);
    background-image: url(Images/abstract-1846853_1920.jpg);
    background-blend-mode: multiply;
    background-size: cover;
}

.logo{
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-family: Cinzel Decorative;
    font-weight: normal;
    color: rgb(80, 198, 202);
    
}

.logo-large {
    font-size: 4em;
}

.content-section{
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em;
}

.section-header{
    font-family: Cinzel Decorative;
    font-weight: normal;
    color: rgb(88, 88, 41);
    text-align: center;
    font-size: 2em;
}

.abt-img {
    float: left;
    width: 300px;
    margin: 15px;
    /* border-radius: 50%; */
}

.main-footer{
    background-color: rgb(88, 88, 41);
    color: bisque;
    padding: .25em;
}

.main-footer-container{
    display: flex;
    align-items: center;

}

.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}

.footer-nav li{
    padding: 0 1em;
}

/* .footer-nav img {
    width: 30px;
    height: 30px;
    ***I did this during the html lessons so I'm just gonna comment this out***
} */

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .5em;
    cursor: pointer;
}

.btn-header{
    margin: .5em 15% 2em 15%; 
    color: rgb(202, 202, 181);
    border: 2px solid rgb(80, 198, 202);
    background-color: rgb(21, 151, 155);
    border-radius: 0;
    font-size: 1em;
    font-weight: bold;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover{
    background-color: rgb(80, 198, 202);
    color: rgb(88, 88, 41);
}

.btn-play{
    display: block;
    margin: 0 auto;
    font-size: larger;
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
}

.tour-row{
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child{
    border-bottom: none;
}

.tour-item{
    display: inline-block;
    padding-right: .5em;
}

.tour-date{
    color: rgb(31, 31, 31);
    font-weight: bold;
    width: 10%;
}

.tour-city{
    width: 25%;
}

.tour-arena{
    width: 40%;
}

.tour-btn{
    max-width: 20%;
}

.tour-btn {
    color: rgb(88, 88, 41);
    background-color:rgb(80, 198, 202) ;
    border: none;
    border-radius: .4em;
    font-weight: bold;
}

.tour-btn:hover {
    background-color:rgb(125, 233, 236);
}

.shop-item{
    margin: 30px;
}

.shop-item-title{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.shop-item-image{
    height: 250px;
    width: 250px;
}

.shop-item-details{
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-price{
    flex-grow: 1;
}
